@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Barlow+Semi+Condensed:wght@300&family=Comfortaa:wght@300;600&display=swap");

@font-face {
  font-family: "Aunchanted";
  src: url("/AunchantedXspace-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "A-Space Demo";
  src: url("/A-Space_Bold_Demo.otf");
}
@font-face {
  font-family: "RockoFLF";
  src: url("/RockoFLF-Bold.ttf");
}

