$theme-name: dark;

$primary_color: #6889a6;
$secondary_color: #2f6c73;
$third_color: #aef2f2;
$fourth_color: #0a1126;
$fondo: #121d40;

$fiveth_color: #7374d9;
$sixth_color: #0f0f40;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$primary-font-family: "Lato";
$secondary-font-family: "Comfortaa";
$third-font-family: "RockoFLF";

$themes: (
  light: (primary_color: (31, 255, 34),
    secondary_color: (0, 0, 0),
    inputs_colors: (88, 176, 103),
    text_color: (0, 0, 0),
    secondary_text_color: (128, 128, 128),
    background_color: (255, 255, 255),
    background_opocite_color: (55, 73, 52),
    remark_color: (181, 222, 0),
    container_color: (178, 178, 178),
  ),
  dark: (primary_color: (31, 255, 34),
    secondary_color: (255, 255, 255),
    inputs_colors: (88, 176, 103),
    text_color: (255, 255, 255),
    secondary_text_color: (128, 128, 128),
    background_color: (0, 0, 0),
    background_opocite_color: (255, 255, 255),
    remark_color: (181, 222, 0),
    container_color: (77, 76, 76),
  ),
);