<div class="slideShow" [ngStyle]="{'width': styleWidth}" [style.--normalHeight]="height"
    [style.--mediumMediaHeight]="mediumMediaHeight" [style.--smallMediaHeight]="smallMediaHeight">
    <button #buttons class="left" data-active="true" (click)="onClickL()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button #buttons class="right" data-active="true" (click)="onClickR()">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <div #slide1 [ngClass]="'slideShow-slide '+ direction" [style.--behavour]="behavour"
        [style.--v]="aniVelocity + 'ms'" [style.--spaceB]="spaceB+'%'" data-active="true">
        @if(active){
        <div style="width: 100%; height: 90%; display: flex;">
            <ng-container [ngTemplateOutlet]="itemsTemplate.toArray()[curr]"></ng-container>
        </div>
        }
        @else{
        <div style="width: 100%; height: 90%; display: flex;">
            <ng-container [ngTemplateOutlet]="itemsTemplate.toArray()[last]"></ng-container>
        </div>
        }
    </div>
    <div #slide2 [ngClass]="'slideShow-slide '+ direction" [style.--behavour]="behavour"
        [style.--v]="aniVelocity + 'ms'" [style.--spaceB]="spaceB+'%'" data-active="false">
        @if(!active){
        <div style="width: 100%; height: 90%; display: flex;">
            <ng-container [ngTemplateOutlet]="itemsTemplate.toArray()[curr]"></ng-container>
        </div>
        }
        @else{
        <div style="width: 100%; height: 90%; display: flex;">
            <ng-container [ngTemplateOutlet]="itemsTemplate.toArray()[last]"></ng-container>
        </div>
        }
    </div>
    <div #legend class="slideShow-legend" [style.--slides]="itemsTemplate.length" data-active="true">
        @for(e of itemsTemplate; track index; let first = $first; let index = $index){
        @if(first){
        <span #legendDot data-active="true" (click)="legendHandler(index)"></span>
        }
        @else{
        <span #legendDot data-active="false" (click)="legendHandler(index)"></span>
        }
        }
    </div>
</div>