@use "../../../styles" as *;

.counter {
    &.box {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @media screen and (max-width: $small) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &.element {
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: $small) {
            max-width: 50vw;
        }

        &-name {
            font-size: 1.3em;
            color: var(--remark_color);
        }

        &-number {
            font-size: 3em;
        }

        &-description {
            text-align: center;
        }
    }

}