@use "../../../styles" as *;

.regresiveCount {
    h2 {
        margin-bottom: 10px;
    }

    &.box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &.description {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 8px));
        grid-column-gap: 10px;
        text-align: center;
    }

    &.times {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 8px));
        grid-column-gap: 10px;
        font-size: 2em;
        text-align: center;
        p{
            color: rgb(var(--remark_color));
        }
    }
}