<div class="landingPage">
    
    <div class="landing-header">
        <h1>Landing Header</h1>
        <img src="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc"
            alt="Header-picture">
        <p>Landing Header Description</p>
        <app-shared-button title="hola mundo" link="#"></app-shared-button>

    </div>
    <app-accordion [arrIn]="accordionTest"></app-accordion>
    <app-generic-card title="primera card" desc="esta es una card" button="presioname" width="20%"
        img='https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc '></app-generic-card>
    <app-carousel [arr]="carouselTest" [columns]="3"></app-carousel>
    <app-slide-show [behavour]="'linear'" [aniVelocity]="500" [styleWidth]="'100vw'" [height]="'50vh'"
    [slidesArr]="slideArr"></app-slide-show>
    <app-counters [counters]="[{start:0, end:1000, name:'Likes', desc:'aqui va una corta descripcion de los likes'},{start:0, end:1000, name:'Clientes',desc:'aqui va una corta descripcion de clientes'}, {start:0, end:1000, name:'Reseñas Positivas',desc:'aqui va una corta descripcion de reseñas'}]"></app-counters>
    <app-double-range-slider [max]="1000" [min]="100" [step]="25"
        [dispach]="doubleSliderHandler"></app-double-range-slider>
</div>